<div class="ui container" *ngIf="order">
  <br/>
  <h1>Bestelldetails</h1>
  <br/><br/>
  <div>
    <p><b>Kundennummer:</b> {{order.user_id}}</p>
      <p><b>Name: </b>{{order.user.firstname}} {{order.user.lastname}}</p>
    <p><b>Bestellung vom:</b> {{order.date}}</p>
      <p><b>Gesamtsumme:</b> {{order.price_brutto.toFixed(2)}} €</p>
    <p *ngIf="order.status?.length == 0"><b>Aktueller Status:</b> Offen</p>
    <div *ngFor="let status of order.status last as l" >
      <p *ngIf="l"><b>Aktueller Status:</b> {{status.status}}</p>
    </div><br/>
      <p><b>Bestellte Bücher: </b></p>
      <ul>
        <div *ngFor="let book of order.books">
          <li>{{book.title}} (Menge: {{book.pivot.quantity}})</li>
        </div>
      </ul>
  <hr/>
    <h3>Lieferadresse </h3>
      <p>{{order.user.firstname}} {{order.user.lastname}}</p>
      <p>{{order.user.street}} {{order.user.street_number}}</p>
      <p>{{order.user.plz}} {{order.user.city}}</p>
      <p>{{order.user.country}}</p>
    <hr/>

    <div class ="ui grid">
      <div class="eight wide column">
        <span><b>Neuer Bestellstatus: </b></span>
        <select (input)="selectedStatus=$event.target.value" class="form-control">
          <option value="">Neuen Status auswählen</option>
          <option value="Offen">Offen</option>
          <option value="Bezahlt">Bezahlt</option>
          <option value="Versendet">Versendet</option>
          <option value="Storniert">Storniert</option>
        </select>
        <br/><br/>
        <p><b>Kommentar:</b></p>
        <textarea (input)="comment=$event.target.value" type="textarea" class="form-control" rows="4" cols="30"></textarea>
        <br/><br/>
        <button class="ui red button"  type="submit" (click)="changeState()">
          Status Speichern
        </button>
        <button [routerLink]="'/admin'" class="ui yellow button">
          Zurück zur Übersicht
        </button>
      </div>
      <div class="eight wide column">
        <h3>Bestellverlauf</h3>
        <p><b>Bestellung eingegangen am: </b>{{order.date}}</p>
        <div *ngFor="let status of order.status last as l" >
          <span>Bestellung wurde <b>"{{status.status}}"</b> am: <b>{{status.updated_at | date}}</b></span><br/>
          <span *ngIf="status.comment != NULL" >Kommentar: {{status.comment}}</span><br/><br/>
        </div>
      </div>
    </div>
  </div>
</div>
